.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #ffffff; 
    background-color: transparent; 
}
.header-bar.hide{
    display: none;
}

.logo img {
    width: 50px; 
}

.company-name {
    margin-left: 10px;
    color: black; 
}

.company-name h1 {
    margin: 0;
    font-size: 30px;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
}

.login-btn button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.login-btn button:hover {
    background-color: #333;
}

.login-btn {
    margin-left: auto;
}

/* Hamburger menu icon */
.hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: black; 
}

/* Mobile Styles */
@media (max-width: 425px) {
    .logo img {
        width: 40px;
    }

    .company-name h1 {
        font-size: 24px;
    }

    .nav-links ul {
        list-style-type: none;
        display: none; 
        position: absolute; 
        top: 7%; 
        left: 0;
        background-color: #ffffff;
        width: 100%; 
        padding: 20px 0; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .login-btn {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
    }
}

/* Mobile Navigation Links */
.nav-links ul.show {
    display: flex;
    flex-direction: column;  
    position: fixed;
}


.header-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: #ffffff;
    z-index: 2;
}


