.home-container {
    position: relative; 
    background-image: url('../../public/Assets/Images/background.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    z-index: 1;
  }
  
  .content-left,
  .content-right {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
  }
  
  .content-left {
    left: 20px; 
    width: 40%; 
  }
  
  .content-right {
    right: 20px; 
    width: 40%; 
  }
  
  .content-left h5{
    font-size: 15px;
    color: rgb(33,23,21);
  }
  .content-left h3{
    color: black;
  }
