.password-reset-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ani-container,
.form-container {
  width: 100%;
}

.ani-container {
  padding: 20px;
  margin-bottom: 20px;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lottie-animation {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2, p {
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.submit-button {
  width: 150px;
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dis {
  display: none;
}


@media (max-width: 576px) {
  .password-reset-container {
    flex-direction: column;
  }

  .ani-container {
    order: 1;
    margin-bottom: 20px;
  }

  .form-container {
    order: 2;
  }
}
