/* Register.css */
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column; /* Set flex-direction to column */
}
.card {
  width: 50%;
  min-height: 200px; /* Set a minimum height for the card */
  background-color: #ffffff; /* White background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding: 20px; /* Padding inside the card */
  transition: height 0.5s; /* Smooth transition for height change */
}

.card.expanded {
  height: 400px; /* Adjusted height when the form is displayed */
}

.card h4 {
  text-align: center; /* Center-align the text */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add some space between the text and buttons */
}

.role-button {
  padding: 10px 20px; /* Add padding to the buttons */
  margin: 0 10px; /* Add margin between the buttons */
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Add cursor pointer on hover */
}

.role-button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}
