.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column; 
}
.card {
  width: 50%;
  min-height: 200px; 
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  transition: height 0.5s;
}

.card.expanded {
  height: 400px;
}

.card h4 {
  text-align: center; 
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.role-button {
  padding: 10px 20px; 
  margin: 0 10px; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.role-button:hover {
  background-color: #0056b3; 
}
