/* TeacherHeaderBar.css */

.teacher-header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    background-color: #2196f3;
    color: white;
  }
  
  .logo {
    width: 35px;
    height: 35px;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .menu-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .menu-button:hover {
    text-decoration: underline;
  }
  
  .account-icon {
    cursor: pointer;
  }
  